.nav {

    background-color: #333;
    color: #aaa;
    padding-top: 10px;
    padding-bottom: 10px;

}

.content {

    background-color: #eee;
    padding-top: 20px;

}

a {

    color: #aaa;

}

a:hover {

    color:#aaa;

}