.nav {

    background-color: #333;
    color: #aaa;
    padding-top: 10px;
    padding-bottom: 10px;

}

.content {

    background-color: #eee;
    padding-top: 20px;

}

.wallpaper {

    padding-left: 9%;
    padding-bottom: 50px;
    width: 90%;

}

.bio {

    padding-left: 20px;
    font-size: 17px;

}

a {

    color: #aaa;

}

a:hover {

    color:#aaa;

}